@font-face {
    font-family: "Outfit";
    src: url(./Fonts/Outfit-VariableFont_wght.ttf);
}

:root {
    --white:hsl(0, 0%, 100%);
    --gray:hsl(212, 45%, 89%);
    --gray-blue:hsl(220, 15%, 55%);
    --blue:hsl(218, 44%, 22%);
} 

* {
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--gray);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--white);
    width: 298px;
    height: 455px;
    padding: 20px;
    border-radius: 20px;
}

.card img{
    width: 294px;
    border-radius: 10px;
}

.card h2 {
    font-family: "Outfit";
    font-size: 21px;
    font-weight: 800;
    text-align: center;
    width: 260px;
    color: var(--blue);
}

.card-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}

.card p {
    font-family: "Outfit";
    font-size: 15px;
    color: var(--gray-blue);
    margin-top: 20px;
    width: 250px;
    text-align: center;
}